body {
  background: orange;
}

.frame {
  position: relative;
  margin: auto;
  height: 500px;
  width: 300px;
  background-color: rebeccapurple;
  /* background: url('https://thumbs.dreamstime.com/b/vertical-scenery-frozen-forest-snow-covered-tiny-wooden-chu-rural-bavarian-region-allgaeu-church-under-morning-dawn-sky-78324646.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.mainContainer {
  position: absolute;
  width: auto;
  height: 100%;
  background-color: rgb(100, 121, 46, 0.5);
}

.platform1,
.platform2,
.platform3 {
  position: absolute;
  bottom: 0px;
  left: 10px;
  height: 200px;
  width: 40px;
  background-color: black;
}

.platform2 {
  left: 170px;
}

.platform3 {
  left: 140px;
}

.bridge {
  position: absolute;
  bottom: 200px;
  width: 2px;
  height: 0px;
  background-color: black;
}
