body {
  background: orange;
}

.frame {
  position: relative;
  margin: auto;
  height: 500px;
  width: 300px;
  background-color: rebeccapurple;
  /* background: url('https://thumbs.dreamstime.com/b/vertical-scenery-frozen-forest-snow-covered-tiny-wooden-chu-rural-bavarian-region-allgaeu-church-under-morning-dawn-sky-78324646.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.mainContainer {
  position: absolute;
  bottom: 0px;
  width: auto;
  height: 40%;
  background-color: rgb(100, 121, 46, 0.5);
}

.startButton {
  position: absolute;
  top: 70px;
  left: 110px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
}

.platforms {
  float: left;
  position: relative;
  bottom: 0px;
  height: 200px;
  background-color: black;
}

.platform1 {
  left: 120px;
  width: 70px;
}

.bridge {
  position: absolute;
  bottom: 200px;
  right: 0px;
  width: 2px;
  height: 0px;
  background-color: black;
}
